/* card  */
.card {
    background: linear-gradient(rgba(23, 22, 22, 0.75), rgba(0, 0, 0, 0.75));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

img{
    height: 250px;
    position: relative;
}

/* end card  */