body {
    background-color: antiquewhite;
}


/* alert  */
.bg_alert1 {
    background-color: #43ea7e;
}

.bg_alert2 {
    background-color: #e9738d;
}

/* alert end */

/* card  */
.header .card {
    border-left: 9px solid #e9738d;
}

.row .card a {
    cursor: pointer;
    font-weight: bold;
    color: #65645b;
    text-decoration: none;
}

.bg_card1 {
    background-color: #d0cec2;
}

.bg_card2 {
    background-color: #D9CF43;
}

/* end card  */

/* modal  */

/* tabel  */
tr:hover {
    cursor: pointer;
    background-color: #ee95a8;
}
.table-responsive{
    overflow: auto;
    height: 550px;
}

.table thead {
    background-color: #151313;
    color: white;
}

.table tbody {
    background-color: #c9cfe3;
    color: #000000;
}

.table tbody tr:hover {
    cursor: pointer;
    background-color: #e9738d;
}

tr,
td {
    border: 2px solid white;
}

.table .no{
    width: 5%;
}

/* end tabel  */

/* end modal  */